# Ambientes Virtuais
venv/
.venv/
env/
.conda/

# Python Cache
__pycache__/
*.py[cod]

# Dados e Banco Local (Proteção contra LGPD/Commit de dados)
data/
*.csv
*.db
production_logs.db

# Logs e Artefatos de Machine Learning
catboost_info/
*.log

# IDEs e Jupyter
.ipynb_checkpoints/
.vscode/
.idea/
.DS_Store
